<%= form_for(@action_name) do |f| %>
  <% if @action_name.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@action_name.errors.count, "error") %> prohibited this action_name from being saved:</h2>

      <ul>
      <% @action_name.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
    <%= @controller_actions.each do |ca| %>
        <div>
          <h2><%= f.label ca.name %></h2>
          <%= f.fields_for :interactions, @action_name.initialized_interactions(ca) do |builder| %>
              <% role = builder.object.role %>
              <%= builder.hidden_field :role_id %>

              <div class="field">
                <%= builder.check_box :enable %>
                <%= builder.label :enable, role.name %>
              </div>
          <% end %>
        </div>  <div class="actions">
    <% end %>
    <%= f.submit %>
  </div>
<% end %>
